node_modules/
*.log
.DS_Store

backend/node_modules/
frontend/node_modules/

backend/dist/
frontend/dist/
backend/src/prisma/generated/

backend/.env
frontend/.env

backend/prisma/dev.db
backend/prisma/*.db
backend/prisma/*.db-journal
